<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
</head>
<body>

<body style="background-color: #CDD6EE;">


<font face = "Baskerville" size = "4"><h1><b><center>About This Blog</center></b></h1></font>

<center><img src="https://ak7.picdn.net/shutterstock/videos/1016879737/thumb/1.jpg" width="600" height="200"></center>

<font face = "Verdana" size = "1"><p><center><b>I'm currently learning Ruby on Rails in hopes to become a freelance programmer. </b>
<br>I'm currently a graduate student working on my degree in Information Security. I'll be finished with my degree at the end of 2019. Afterwards I hope to be able to get a job working remoting using my degree and my knowledge on Ruby and RoR</center></p>
<br>
<br>
<p><center><b>What is RoR?<b></P></center>
<center><p><a href="https://www.RubyonRails.com">Ruby on Rails</a></center>
<br>
<center>Back to the Homepage:
<br>
<%= link_to 'Home', root_path %></center>



</font>
</body>
</html>
