<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
</head>
<body>

<body style="background-color: #EBE5F4;">


<font face = "sans serif" size = "4"><h1><b><center>About This Blog</center></b></h1></font>

<center><img src="https://cdn.pixabay.com/photo/2016/07/07/01/21/americana-1501711_960_720.jpg" width="900" height="200"></center>

<font face = "sans serif" size = "1"><p><center><b>I'm currently learning Ruby on Rails in hopes to become a freelance programmer. </b>
<br>I'm currently a graduate student working on my degree in Information Security. I'll be finished with my degree at the end of 2019. Afterwards I hope to be able to get a job working remoting using my degree and my knowledge on Ruby and RoR</center></p>
<br>
<br>
<p><center><b>What is RoR?<b></P></center>
<center><p><a href="https://www.RubyonRails.com">Ruby on Rails</a></center>
<br>
<center>Back to the Homepage:
<br>
<%= link_to 'Home', root_path %></center>



</font>
</body>
</html>
