<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
</head>
<body>

<body style="background-color:hsl(0, 100%, 75%);">


<font face = "Baskerville" size = "4"><h1><b><center>Welcome to the Ruby on Rails blog!</center></b></h1></font>

<center><img src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/59/89/3b/shutterstock-790494358.jpg" width="600" height="200"></center>

<font face = "Verdana" size = "1"><p><center><b>In this blog, we will discuss Ruby on Rails.</b>
<br>Ruby on Rails, or Rails, is a server-side web application framework written in Ruby under the MIT License. Rails is a model–view–controller framework, providing default structures for a database, a web service, and web pages. - Wikipedia </center></p>
<br>
<br>
<p><center><b>What is RoR?<b></P></center>
<center><p><a href="https://www.RubyonRails.com">Ruby on Rails</a></center>
<br>

<center>To go to the about page of this blog:</center>
<center><%= link_to 'About', about_path %></center>

</font>
</body>
</html>
