<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
</head>
<body>

<div class= "center jumbotron">
  <h1> ALPHA BLOG </h1>
  <%= link_to "Sign up now", "#", class: "btn btn-lightgray btn-medium" %>
</div>


<body style="background-color: #EBE5F4;">



</body>
</html>
