$navbar-default-bg: #CDC0D8;


@import "bootstrap-sprockets";
@import "bootstrap";

.navbar { // the initial style of the navbar
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.3s;
    font-size: 12px;
    font-family: marker felt;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration-color: black;
    letter-spacing: 1px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('image1.jpg');
  background-size: cover;
  height: 500px;

}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: gray 10px 0 10px;
  font-family: marker felt;
}

.btn-medium {
  font-size: .5cm;
  background-color: #D0B3F0;

}

.article-actions {
  border-top: 2px solid gray;
  padding-top: 5px;
}

.description {
  margin: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: black;
}

footer a:hover {
  color: gray;
}

foot small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
